$searchbar-height: 100px;

.fixed-sticky-searchbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: $searchbar-height;
}

.searchbar-container {
  padding: 16px;
}

.searchbar {
  height: 100%;
  width: 100%;
}

.table-container {
  position:fixed;
  width: 100%;
  top: $searchbar-height + 2px;
}

.table-item {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.table-item-card {
  width: 100%;
}

.table-item-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}